//Tipography
$ff: 'Rubik', sans-serif;
$fs-10: 0.625rem;
$fs-12: 0.75rem;
$fs-15: 0.9375rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-26: 1.625rem;
$fs-32: 2rem;

//Colors
$white: rgba(255, 255, 255, 1);
$mid-grey: rgba(63, 63, 63, 1);
$dark-grey-05: rgba(44, 44, 44, 0.49);
$dark-grey: rgba(44, 44, 44, 1);
$black: rgba(0, 0, 0, 1);
$black-015: rgba(0, 0, 0, 0.15);

//Utilities and mixins
.b-shadow{
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.10);
}

.b-radius15{
  border-radius: 0.9375rem;
}

.clr-white{
  color: $white;
}

.bg-white{
  background-color: $white;
}

.clr-dark-grey{
  color: $dark-grey;
}

.clr-dark-grey05{
  color: $dark-grey-05;
}

.bg-black{
  background-color: $black;
}

.bg-black015{
  background-color: $black-015;
}

@mixin flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row{
  @include flex-col;
  flex-direction: row;
}

/* Box sizing rules */
*
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

button{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
    @media screen and (min-width: 1200px) {
      cursor: pointer;
    }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-height: 100dvh;
  line-height: 1.5;
  font-family: $ff;
  position: relative;
  font-family: $ff;
  text-align: center;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  border: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}